@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  /*
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
   */
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
section button {
  background-color: transparent;
}

section {
  text-align: center;
}

.footer {
  margin: 30px 30px;
  line-height: 1.7rem;
  text-align: center;
}

.footer__info a {
  text-decoration: underline;
}
.footer__info .footer__info-policy,
.footer__info .footer__info-text {
  font-weight: 700;
}
.footer__info .footer__info-policy {
  margin-top: 20px;
}
.footer__info .footer__info-copy {
  font-size: 0.7rem;
}

.footer__navigate ul {
  display: none;
}
.footer__navigate span {
  font-weight: 700;
  display: block;
  margin-top: 60px;
}

@media (min-width: 995px) {
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: unset;
  }
  .footer__info {
    flex: 0 1 32%;
  }
  .footer__navigate {
    text-align: right;
    align-self: end;
  }
  .footer__navigate ul {
    display: block;
  }
  .footer__navigate span {
    display: none;
  }
}
body {
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: unset;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 789px) {
  .wrapper {
    position: relative;
  }
}

header a {
  margin-left: 20px;
}
header img {
  width: 160px;
}
@media (min-width: 789px) {
  header img {
    width: 260px;
  }
}
header span {
  display: none;
}

@media (min-width: 995px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  header span {
    display: inline;
    font-weight: 700;
    margin-right: 20px;
  }
}
main {
  flex: 1 1 auto;
}

.stores {
  padding: 50px 40px;
}
.stores h1 {
  padding-bottom: 20px;
  font-size: 1.8rem;
  font-weight: 800;
}
@media (min-width: 789px) {
  .stores .stores__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.stores li {
  padding: 30px 5px;
  line-height: 1.5rem;
}
.stores h2 {
  font-weight: 500;
  font-size: 1.3rem;
}
.stores .stores__city {
  font-weight: 500;
  margin-top: 10px;
}
.stores .stores__name {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
