@import "nullstyle";
@import "main";
@import "footer";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
%header-position {
	padding: 15px 0px;
	img {
		width: 160px;
		margin-left: 20px;
		@media (min-width: 789px) {
			width: 260px;
		}
	}
}

body {
	font-family: "Roboto";
	transition: background 1s ease-in-out;
}

a {
	text-decoration: none;
	color: unset;
}
.wrapper {
	display: flex;
	flex-direction: column;
	@media (min-width: 789px) {
		position: relative;
	}
}
@media (min-width: 995px) {
	::-webkit-scrollbar {
		display: none;
	}
}

.header-main {
	@extend %header-position;
	span {
		margin-right: 20px;
		display: none;
	}
}
@media (min-width: 995px) {
	.header-main {
		position: fixed;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		span {
			display: inline;
			font-weight: 700;
		}
	}
}
.header-extra {
	@extend %header-position;
}

main {
	flex: 1 1 auto;
}

.stores {
	padding: 70px 40px;

	h1 {
		padding-bottom: 20px;
		font-size: 1.8rem;
		font-weight: 800;
	}
	.stores__body {
		@media (min-width: 789px) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}
	li {
		padding: 30px 5px;
		line-height: 1.5rem;
	}
	h2 {
		font-weight: 500;
		font-size: 1.3rem;
	}
	.stores__city {
		font-weight: 500;
		margin-top: 10px;
	}
	.stores__name {
		text-decoration: underline;
	}
}

.privacy {
	padding: 70px 40px;
	font-size: 0.72rem;
	max-width: 940px;
	line-height: 1.1rem;
	h1 {
		padding-bottom: 20px;
		font-size: 1.3rem;
		font-weight: 800;
	}
	p {
		margin: 13px 0px;
	}
	h2 {
		margin: 30px 0px 15px 0px;
		font-size: 0.85rem;
		font-weight: 700;
	}
	ul {
		padding-left: 40px;
		li {
			list-style: disc;
			font-size: 0.77rem;
			a {
				text-decoration: underline;
			}
		}
	}
	p a {
		text-decoration: underline;
	}
}
